<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://icons.iconarchive.com/icons/aha-soft/free-large-boss/512/Admin-icon.png" alt="img"height="300"width="200">
        </div>
        <div class="col-6">
            <form style="text-align: center;">
                <label > User Name</label>
                <input type="text" class="name"palceholder="Enter username">
                <br><br>
                <label > Password</label>
                <input type="text" class="passweord"palceholder="Enter Password">
                <br><br>
                <button type="button">Submit </button>
            </form>
        </div>
    </div>
</div>